**/project/Endorblast/Endorblast/Endorblast/bin
**/project/Endorblast/Endorblast.Lib/bin
**/project/Endorblast/Endorblast.MasterServer/bin
**/project/Endorblast/Endorblast.GameServer/bin
**/project/Endorblast/Endorblast.Lib/Content
**/project/Sprite Source
**/project/Important

