/Endorblast/Endorblast.DBase/bin/*
/Endorblast/Endorblast.Discord/bin/*
/Endorblast/Endorblast.Library/bin/*
/Endorblast/EndorblastEngine/bin/*
/Endorblast/EndorblastEngine.GameServer/bin/*
/Endorblast/EndorblastEngine.MasterServer/bin/*
/Endorblast/Endorblast/Endorblast.Library/Content/*
/sprites/*
/Endorblast/Endorblast/Endorblast.Discord/config.json